[2015-02-01 08:57] goranefbl opened #1 "Reimport data"
Like i said before, great job.

One note, if user uploaded demo data, deleted it or edited it and want to reupload again, is it possible to do so ? If not ,maybe some button that would say, Enable reimport of uploaded data, that would delete option field. I suppose.

[2015-02-01 12:55] FrankM1 commented on #1
Another way is to reset the option field if all theme options are reset.

[2015-02-01 22:20] Webcreations907 commented on #1
Thanks,
Will get a 'Re-Import' button added to it.

If you're testing it, there is a line commented out, just uncomment it and it will delete the stored values so that you can keep re-importing.
[Link To Line Here](https://github.com/Webcreations907/WBC-Importer-extension/blob/master/wbc_importer/extension_wbc_importer.php#L68)

Only thing about adding it to the reset options, is that users might

[2015-02-02 05:50] Webcreations907 commented on #1
@goranefbl , @FrankM1
Give that a try, should show a 'Re-Import' button when mousing over a already imported demo.

:smile:

[2015-02-03 12:14] #1 closed, assigned to nobody

[2015-02-11 15:33] goranefbl opened #2 "Set homepage automaticly"
Just a feature request, maybe possibility to also automatically set chosen page as homepage instead of going in settings and setting it up as home page. Its just updating wp_option with page_on_front option name and using page ID as value. And     update_option( 'show_on_front', 'page' ).

Do you know what would be the best way to do this. For example if we create txt file that would have page id

[2015-02-11 19:54] Webcreations907 commented on #2
Hello,

I believe it already does what you're asking. In the example-functions.php there are actions and filters that can be used. Down at the bottom(see link below) there is a whole example of how to set homepage, menus, import Revolution slider, etc.

https://github.com/Webcreations907/WBC-Importer-extension/blob/master/example-functions.php#L210

Check that out and let me know if that's what yo

[2015-02-11 21:57] goranefbl commented on #2
Yay!

Mark as done :)

[2015-02-11 21:57] #2 closed, assigned to nobody

[2015-02-13 23:08] grosscorporation opened #3 "Place the importer and demos in a plugin folder"
//redux options loader
//require_once get_template_directory() . '/inc/redx-ext/loader.php';

[code]

it recognises but fails to load the content on the panel

[2015-02-14 02:52] Webcreations907 commented on #3
Hello,
Are you trying to put it in the Redux plugin or a custom plugin?

[2015-02-14 06:19] grosscorporation commented on #3
a custom plugin that I have created for the theme

[2015-02-21 19:09] grosscorporation opened #4 "Export menus"
I am trying to export my menus with locations,
help with:

Primary (menu) Primary Menu (menu location)

anyone?

[2015-02-21 23:23] Webcreations907 commented on #4
Hello Zeal,

check out [This Block Of Code](https://github.com/Webcreations907/WBC-Importer-extension/blob/master/example-functions.php#L238-L257) that is in the `example-functions.php` on how to set your menus.

You only need the name of the menu you want to set as primary.

:smile:

[2015-02-21 23:25] Webcreations907 commented on #3
Hey there,

Sorry for the delay back, been out sick for a bit.

I'm guessing you got this figured out as your other topic #4 seems like you're making progress on getting it going.

[2015-02-22 11:12] goranefbl commented on #4
In my case name of menu in export file is Main Menu, so code is:

` $top_menu = get_term_by( 'name', 'Main Menu', 'nav_menu' ); `

[2015-02-22 11:49] grosscorporation commented on #4
wow! thanks Web

[2015-02-22 13:44] grosscorporation commented on #3
sorry man, hope you good now

[2015-02-22 20:40] Webcreations907 commented on #4
No problem :)

[2015-02-22 20:40] #4 closed, assigned to nobody

[2015-02-22 20:41] Webcreations907 commented on #3
Yes, thanks doing much better now.

Will close this out, if you have further issues/questions just let me know.

Thanks

[2015-02-22 20:41] #3 closed, assigned to nobody

[2015-02-28 13:08] goranefbl opened #5 "Conflict with wordpress importer plugin from wordpress"
There is issue when you install native wordpress import plugin, this is error that is showing:

![untitled](https://cloud.githubusercontent.com/assets/1670309/6426268/1f62b552-bf53-11e4-9b07-4bfa93b99757.png)

[2015-02-28 19:51] Webcreations907 commented on #5
Hey there,

I did a push back on Feb 3 that should of fixed that issue. Try updating your files for the wbc_importer to the latest/current and see if that fixes for you.

:)

[2015-03-02 21:05] goranefbl commented on #5
awesome! :)

[2015-03-02 21:05] #5 closed, assigned to nobody

[2015-03-07 21:04] naumanahmed19 opened #6 "Menu"
Thanks for awesome extension. I have issue with menu. Its seems not working for me.

[code]

[2015-03-07 21:53] Webcreations907 commented on #6
Thanks, glad you're finding it useful.

Looking at that code, looks like you changed `name` to `main` for the `get_term_by` function. The first should be just `name` like below.

[code]

As long as your  menu location is called  `main` then shouldn't need to change any further.

If it's not then just change the `main` in the below to your menu location name.

[code]

:smile:

[2015-03-08 14:06] naumanahmed19 commented on #6
thanks. everything looks fine but menu does not assign to a location. I have tried some other actions from example-functions.php and non of them working.

[2015-03-08 18:01] Webcreations907 commented on #6
What did you name your demo import folders?

Also are you including the function/actions from the example-functions.php file into your functions.php file or somewhere within your theme?

[2015-03-10 14:14] DoganAydemir opened #7 "admin-ajax.php 500 (Internal Server Error)"
Hi;

I get the following error:
![screen shot 2015-03-10 at 15 58 35](https://cloud.githubusercontent.com/assets/193340/6576526/73cd00e4-c740-11e4-9fd8-c5a2b896430a.png)

Can you help?

Thanks.

[2015-03-10 14:21] DoganAydemir commented on #7
Php error logs:

"[10-Mar-2015 14:20:11 UTC] PHP Fatal error:  Allowed memory size of 41943040 bytes exhausted (tried to allocate 12288 bytes) in /Applications/MAMP/htdocs/chola22/wp-includes/class-wp-image-editor-imagick.php on line 135
"

[2015-03-10 22:17] Webcreations907 commented on #7
Hello,

Try increasing your memory limit and see if that resolves for you.

[2015-03-12 12:30] goranefbl opened #8 "Demo Importer tab not showing when redux is installed as plugin"
Hey,

we added redux inside our theme that we sell in TF, this time we included this wonderfull extension. One customer reported demo importer tab not showing up, once i got into his site, i saw that he had redux installed as plugin too. Not sure if this is redux error, but everything else was working. So when u have redux in theme and and also activated as plugin, tab isnt showing.

[2015-03-12 18:07] Webcreations907 commented on #8
Hello,
I've tried to reproduce that and unable to, if I have it installed in theme with plugin active it still shows the demo importer.

Was the Redux plugin they had installed the default Redux plugin, or was it one customized for a theme/plugin?

Also are you on the latest version of Redux?

Are you able to reproduce that issue with your set up/theme?

[2015-03-15 01:55] goranefbl commented on #8
Hey Web,

As it was on clients side, he removed redux plugin, and now i cant test which version of redux it was. Lets close it up and if some other client brings it up again, i will let you know.

[2015-03-15 01:55] #8 closed, assigned to nobody

[2015-03-15 02:40] Webcreations907 commented on #8
Ok, thanks for keeping me posted. Let me know if you have further issues.

I don't recall what version Redux made the update for multiple instances being ran at same time, so maybe they just had the older one installed.

:smile:

[2015-03-28 23:21] goranefbl opened #9 "Empty demo - does not list demos"
Hi, i have few clients that are using my theme from themeforest where i implemented demo importer and when i log to their account i see redux panel that comes with my theme, but when i navigate to demos, doesnt show any, just showing that its empty, while on 90% of users all is good. Do you have private email to whom i can send u admin details and ftp so that you can take a look. I fixed problem f

[2015-03-28 23:32] Webcreations907 commented on #9
Hello,

Do you have skype for instant messaging? Same username on there if you do. [Removed Email]

:)

[2015-03-29 21:18] Webcreations907 commented on #9
Just pushed that change and sent you an email.

#

So others know what the fix was for and the issue causing it will provide info below.

Some servers require FTP info to use WP_Filesystem causing it to not load the demo directory/files, so I added a fallback which should hopefully fix that issue and doesn't require FTP info.

:smile:

[2015-04-05 21:36] cbcbr opened #10 "Demo importer tab is not showing up"
Hey,

I added redux 3.5 as a plugin in a new theme, but demo importer tab is not showing up. I did this in other themes without problems, the importer extension works perfect. But I can not figure out, why the tab is not showing up in this one. I deactivated all plugins, the demo tab is still missing. Everything else is fine, theme options are fine, too. A test with former redux versions have the

[2015-04-06 01:57] Webcreations907 commented on #10
Hello,

Do you have the importer ext in the theme or the plugin?

[2015-04-06 01:59] Webcreations907 commented on #9
@goranefbl This resolve the issue for you?

[2015-04-06 05:59] cbcbr commented on #10
Hi,

I tried both, I have it ext in the theme now.

Thanks

[2015-04-06 08:39] goranefbl commented on #9
Yup, al good. Thanks!

[2015-04-06 08:39] #9 closed, assigned to nobody

[2015-04-06 09:46] cbcbr commented on #10
Hi,

maybe this helps:
I made a test with another theme and a working importer. After a redux update to 3.5.x, the tab went away. Then I reverted redux back to version 3.4.1 and the tab came back, the importer works fine again. I tried the same on the new theme and now the demo importer tab is there (Latest Importer, Redux 3.4.1, Wordpress 4.1.1). Same on theme integration and plugin version.

[2015-04-06 19:09] Webcreations907 commented on #10
I've tested and unable to reproduce that issue, can you send me you theme/setup? Or is it online where I can test that?

Also did you make sure to rename the `Redux_Framework_sample_config` class in your Redux config file?

If you can send, send to webcreations907@gmail.com

Thanks

[2015-04-07 08:54] MargieinAZ opened #11 "Help with installation"
Hi, I've been trying to install this for several hours and I'm not having much success yet, the tab is not showing up for me.
I altered the loader.php file within the admin/redux-extensions folder as follows:

 // Modify {$redux_opt_name} to match your opt_name
    add_action("redux/extensions/my_theme/before", 'my_theme_register_custom_extension_loader', 0);
endif;

---

And I altered my function

[2015-04-07 18:25] Webcreations907 commented on #11
Hello,

Do you have Redux installed as plugin or embedded in theme?

[2015-04-07 18:36] MargieinAZ commented on #11
I have it set up as both. Through their "suggest and embed" option:

"Suggest + Embed: Redux is embedded, but also a TGM recommendation is given to install the plugin. The plugin overrides the embedded code."

[2015-04-07 21:59] MargieinAZ commented on #11
FYI, I just removed it as a plugin, and updated the embedded version of Redux, on the chance that the plugin was causing an issue. Still no luck.

[2015-04-07 23:04] Webcreations907 commented on #11
Are you able to provide access to theme or send it to me to test? I've tried and unable to reproduce that issue.

[2015-04-07 23:58] Webcreations907 commented on #11
I just put up a test theme which includes ReduxFramework 3.5 and the latest WBC_importer, give it a try and see if the demo importer shows up for you.

https://github.com/Webcreations907/underscores-redux

[2015-04-07 23:59] Webcreations907 commented on #10
Hey there,

I just put up a test theme which includes ReduxFramework 3.5 and the latest WBC_importer, give it a try and see if the demo importer shows up for you if you're still having issues

https://github.com/Webcreations907/underscores-redux

[2015-04-08 06:24] cbcbr commented on #10
Hey,
demo importer shows up on 3.5, all good now. Thanks, Great Work!

[2015-04-08 06:31] cbcbr commented on #10
Mark as done :)

[2015-04-08 06:31] #10 closed, assigned to nobody

[2015-04-08 15:42] MargieinAZ commented on #11
Thank you! I was able to get it to show up now. Not sure why it wasn't working in the first place, but it's showing up now.
Thanks!

Now I 'm running into errors trying to import the data:

Fatal error:  Allowed memory size of 67108864 bytes exhausted (tried to allocate 72 bytes)

That's a different issue, so I'll do some more research into why I'm getting that, but if you have a link or a quick i

[2015-04-08 21:49] Webcreations907 commented on #11
No problem, glad that worked out for you. If you're using that demo theme as example you'd just drop any extensions into the extensions folder and they get loaded. Forgot to mention that, if you happen to get any of Redux's premium extensions.

As for the memory, you should try increasing memory. You can do this by .htaccess file or if you have access to the php.ini file you can change it there. S

[2015-04-08 21:49] #11 closed, assigned to nobody

[2015-04-14 06:08] kidesigner opened #12 "Can I install Wordpress Options with WBC-Importer-extension Script?"
Can I install Wordpress Options with WBC-Importer-extension Script?

[2015-04-16 12:15] jahir07 opened #13 "Why home page need to select?"
Hi,

Extension working fine. But after import i have to select page template from settings >> reading. I want home page template with all settings. How can i fix that..

Thanks

[2015-04-16 20:24] MargieinAZ opened #14 "How are the demo imports sorted?"
I have a large import file, and I've broken it up into several parts. I wan them to display in the Demo Importer panel in proper order. For example, left to right: Part 1, Part 2, Part 3

But mine are displayed in a jumbled order. I've tried renaming them, and it doesn't seem to work.
Any suggestions on how to control the order in which they appear?

Thanks! Awesome extension.
:)

[2015-04-21 16:33] genethic commented on #14
I am also interested in a way to sort the demos are displayed

[2015-04-21 20:26] Webcreations907 commented on #14
Hello,

You can set the demos in order like demo1, demo2, demo3, etc. it list in alpha/num order.

Then use the filter for the title if you want to change the names.
https://github.com/Webcreations907/WBC-Importer-extension/blob/master/example-functions.php#L59-L75

Once in order though, make sure not to change the order because if you do then say your user imports demo2 and later you call a diffe

[2015-04-21 20:28] Webcreations907 commented on #13
Hello,

You need to set your homepage using action/function, check the example-functions.php file. There is a block of code/example in there for how to set your menu, homepage, etc.

https://github.com/Webcreations907/WBC-Importer-extension/blob/master/example-functions.php#L205-L285

:smile:

[2015-04-21 20:28] Webcreations907 commented on #12
Hello,

Are you referring to a plugin, or the theme options?

[2015-04-21 20:29] Webcreations907 commented on #7
Going to close this out assuming that worked for you, if you have any further issues just let me know.

Thanks

[2015-04-21 20:29] #7 closed, assigned to nobody

[2015-04-21 20:30] Webcreations907 commented on #6
Assuming you got this figured out, going to close this. If you have any further issues just let me know.

Thanks

[2015-04-21 20:30] #6 closed, assigned to nobody

[2015-04-21 21:21] genethic opened #15 "More than one slider per demo"
Is there a way to add more than one slider per demo?

I have try with this code:

[code]

and also this one:

[code]

But it only import the last one.

Thanks in advance!

[2015-04-21 21:33] Webcreations907 commented on #15
Try the slider array you have listed first, then switch the code that is below that slider array to the below code. I haven't tested it yet as I'm a bit behind right now, but maybe you could give it a try and see if it works for you.

[code]

[2015-04-22 03:01] Webcreations907 commented on #15
Just had a chance to test that out and seems to work using the above. So the whole slider import bit should look something like below.

[code]

[2015-04-22 07:40] genethic commented on #15
Thanks a lot, it works perfectly!

[2015-04-22 07:46] genethic commented on #14
Hi! I have already named the demos like demo1, demo2, demo3... but they are showed demo5, demo4, demo3, demo6, demo7, demo1, demo2

[2015-04-22 20:42] Webcreations907 commented on #14
@genethic

Removed orig message, as I delete that branch.

[2015-04-22 20:43] Webcreations907 commented on #15
No problem, glad that worked out for you :smile:

[2015-04-22 20:43] #15 closed, assigned to nobody

[2015-04-23 05:00] jahir07 commented on #13
woow.. thanks..

[2015-04-23 10:01] jahir07 commented on #13
thanks works fine.. but rev slider import option not working.. here is the code--

if ( class_exists( 'RevSlider' ) ) {
            //If it's demo3 or demo5
            $wbc_sliders_array = array(
                'demo1' => get_template_directory_uri(). '/sample_rev.zip', //Set slider zip name
                'demo5' => 'anotherslider.zip', //Set slider zip name
            );
            if ( iss

[2015-04-23 10:06] Webcreations907 commented on #13
You only need to enter the name of the zip like `sample_rev.zip` in that array, then make sure that your zip file is in the demo folder for the demo it goes to.

That array should look like below.

[code]

[2015-04-23 10:12] genethic commented on #14
It works perfect! Thanks a lot for fixing!

This was really the only issue I found with your extension, it works very well and is very easy to use. I am looking forwar to see this in the master branch.

[2015-04-23 10:17] Webcreations907 commented on #14
Great, glad that worked out for you, will get that added.

[2015-04-23 10:40] jahir07 commented on #13
thanks.. lets try..

[2015-04-23 11:32] Webcreations907 commented on #14
Just merged to master, so that should be in there now :smile:

[2015-04-23 11:32] #14 closed, assigned to nobody

[2015-04-24 01:42] kidesigner commented on #12
I use for theme options. Thank

[2015-04-24 01:46] Webcreations907 commented on #12
It works for importing redux theme options if that's what you're referring to.

Imports by default, theme options, widgets, and demo data. If you check the `example-functions.php` file there is a block of code at the bottom that shows how to import Revolutions slider, set menus, and set home page.

[2015-04-24 02:19] kidesigner commented on #12
Thank you for support, it's working!

[2015-04-25 02:24] Webcreations907 commented on #12
That's great, glad it worked out for you!

Anything else, just let me know.

Thanks

[2015-04-25 02:24] #12 closed, assigned to nobody

[2015-04-25 02:24] Webcreations907 commented on #13
No problem, did you get that working?

[2015-04-25 04:22] jahir07 commented on #13
thanks.. its working.. :)

[2015-04-25 04:22] #13 closed, assigned to nobody

[2015-04-25 04:30] Webcreations907 commented on #13
Great, thanks for letting me know and closing out issue.

:smile:

[2015-04-27 22:10] herususanto opened #16 "Duplicate menu & slider after re-import"
How to avoid duplicate menu & slider after re-import? Also is there any way to add another json file for import e.g from tinymce plugin setting?

[2015-04-28 02:04] kidesigner opened #17 "Not display loading when importing data in ReduxFramework 3.5.4"
Not display loading when importing data in ReduxFramework 3.5.4. Please test it. Thank so much

[2015-04-28 02:23] Webcreations907 commented on #17
Hello,

Did you try the latest version of the wbc_importer? I made a commit yesterday that should have fixed that spinner/loading.. not show showing.

[2015-04-28 02:24] kidesigner commented on #17
I try but seem it's not working.

[2015-04-28 02:25] kidesigner commented on #17
Please update lastest wordpress version and lastest reduxframework version to check. Thank you so much, my friend

[2015-04-28 02:29] Webcreations907 commented on #16
Hello,
You can import anything you'd like, just place the file in the demo folder and use the example-functions.php file as a reference on how to load files for the demo that is being imported. The slider example function would be a good starting point for reference.

Duplicate menus, that is something the WordPress importer does, I was going to looking into the actions/filters they have in the im

[2015-04-28 02:33] Webcreations907 commented on #17
Just tested again, and can see the loading... + spinner when importing. Have you tried clearing browser cache?

What browser are you using?

[2015-04-28 02:33] kidesigner commented on #17
I use chrome

[2015-04-28 02:35] Webcreations907 commented on #17
Just tested in Chrome and Firefox seemed to work

[2015-04-28 02:42] kidesigner commented on #17
Clear cache and it' working well. Thank you for rocket support!

[2015-04-28 02:49] Webcreations907 commented on #17
Hey that's great, glad you got that working. Notice any other issues just let me know.

Thanks :smile:

[2015-04-28 02:49] #17 closed, assigned to nobody

[2015-04-28 07:18] #16 closed, assigned to nobody

[2015-05-01 14:51] asifsaho opened #18 "Problem with Menu Activation"
Hi,

I reviewed the example functions to activate menu, set homepage and revolution slider. but can't understand how to activate the menu.

This is the codeblock for menu I think.

// If it's demo1 - demo6
        $wbc_menu_array = array( 'demo1', 'demo2', 'demo3', 'demo4', 'demo5', 'demo6' );
        if ( isset( $demo_active_import[$current_key]['directory'] ) && !empty( $demo_active_import[$curr

[2015-05-05 22:17] Webcreations907 commented on #18
Hello,

You'd need to change the locations, and where it says "Temp Menu"

Below is a example, you'll need to change `Menu Name Here` with the name of your menu that you created when creating the menu on the menus page of WordPress.

[code]

[2015-05-10 22:58] franmastromarino opened #19 "add_action add_filter not working on wordpress-importer.php"
hello, i have some custom fields in my wordpress menus, so i need to hook the importer process

for example im trying to hook in to the importer

add_action('import_end', 'lmm_import_save');

this works when i fire the importer from Tools > Import, but isn't working when it's fired from the redux panel

regards

[2015-06-10 05:41] kidesigner opened #20 "Menu have bug with ReduxFramework 3.5.4"
All things running well, but i see bug menu in panel. Please see this:

http://i.imgur.com/BmadbfX.png

"Options Object" menu label. Please support me, thank you so much!

[2015-06-15 00:56] zabestof commented on #20
That's not a bug from the importer. It seems the dev mode option of redux is now turned automatically on when you have WP_DEBUG set to true. If you set it to false that label will be gone.

Cheers!

[2015-06-17 06:44] kidesigner commented on #20
Ok. It' working.

[2015-06-23 05:37] kidesigner opened #21 "Default wordpress widget still display when import widget."
I see Default wordpress widget still display when import widget. (i was disabled it in my demo).

Please check. Thank you

[2015-07-02 08:18] theKhorshed opened #22 "Theme-Check WARNING about filesystem operation"
Hi, the extension is working great but fixing these Theme-Check warning will be great.
Here is a screenshot of the warning i am getting.

![screen shot 2015-07-02 at 2 13 41 pm](https://cloud.githubusercontent.com/assets/10390188/8472671/007470bc-20c5-11e5-82d9-c7f08905e931.png)

[2015-07-06 11:33] vburlak opened #23 "'wbc_importer_section' - different position on the panel issue"
Trying to put the demo importer section in a different position on the Redux panel via guide from example functions:

[code]

My Code:

[code]

Sections creates right. But predefined section don't overrides by condition at function `add_importer_section`:

[code]

And, so I have two sections "Demo Content" at my Options Panel...

Maybe helpful: `extensions-init.php` loaded after sections init..
Al

[2015-07-08 00:06] Webcreations907 commented on #23
Hello,

Will take a look at that, I haven't tried the new redux "API" config options method like you have above, so will test that out.

[2015-07-08 00:12] Webcreations907 commented on #22
Hello,

With the exception of line 236 and 338 in your screen image, the others are from the actual WordPress importer plugin. https://wordpress.org/plugins/wordpress-importer/

[2015-07-08 00:13] Webcreations907 commented on #21
Hello,

Just tested and didn't set any widgets besides the ones in the widgets file. Make sure you didn't include the default widgets in your export file for you widgets.

[2015-07-08 00:13] #20 closed, assigned to nobody

[2015-07-08 00:14] #18 closed, assigned to nobody

[2015-07-08 07:41] vburlak commented on #23
@Webcreations907 fixed. It's was missed equal sign in loop..
Because `wbc_importer_section` was almost latest section in my options — I got that issue.

[2015-07-08 20:58] #23 closed, assigned to nobody

[2015-07-08 21:01] Webcreations907 commented on #23
@vburlak thanks for catching that and the fix

[2015-07-09 13:43] vburlak commented on #23
@Webcreations907 thanks for your time and beautiful extension!

[2015-07-11 09:36] dimitrilongo opened #25 "Need to access to array $this->field['wbc_demo_imports']"
hi

Thank you so much for that extension, save me a lot of time, it works like a charm.

I have juste one question i need to acess to ReduxFramework_wbc_importer object outside the class,
`print_r($this->field['wbc_demo_imports'] );`
I'd like to access that array in my redux in another section (tab).

Hope i'm clear.
Regards

[2015-07-12 05:01] contempoinc opened #26 "Change menu icon"
Where can I add the menu icon class?

[2015-07-12 05:04] contempoinc commented on #26
Nevermind found it in extension_wbc_importer.php > line 282

[2015-07-12 05:04] #26 closed, assigned to nobody

[2015-07-12 18:36] contempoinc opened #27 "Where does functions.php file go?"
Slightly confused where does the https://raw.githubusercontent.com/Webcreations907/WBC-Importer-extension/master/example-functions.php supposed to go? When I rename it, do I need to change a path?

is it like wbc_importer > functions.php

[2015-07-12 19:02] contempoinc commented on #27
Nevermind…brain isn't working today.

[2015-07-12 19:02] #27 closed, assigned to nobody

[2015-07-13 13:27] ahmadawais opened #31 "[Pull Request] Spinner not working after WP 4.2"
## Problem

After 4.2 update the spinner has stopped working. Which looks strange coz user doesn't wait for the demo to be imported and everything messes up
## Solved

Spinner was not working after WP 4.2 I have resolved the issue and sent three pull requests
## Pull requests

https://github.com/ahmadawais/WBC-Importer-extension/tree/patch-1
https://github.com/ahmadawais/WBC-Importer-extension/tre

[2015-07-13 18:52] Webcreations907 commented on #31
Hello,

Did you check with current version of the importer, there was a update for that back in April 2c1b30a94a24b5923f030fb9285474431b8abc3b

[2015-07-13 19:40] Webcreations907 commented on #25
Could try with the below, but would have to be after redux class is started.

[code]

OR

replace YOUR_OPTION_NAME with your options name.

[code]

[2015-07-13 20:41] ahmadawais commented on #31
@Webcreations907 Actually there were no releases so I figured there was no update.

[2015-07-13 20:48] ahmadawais commented on #31
I just tested it and the update didn't work, so I am going ahead with my pull request. Must be something to do with visibility property.

[2015-07-13 23:07] contempoinc opened #32 "Setting Menus"
Not sure I've got this setup correctly, I've got three menu locations Primary Left, Primary Right & Footer

Both Primary locations will get one menu assigned "Primary" and footer gets "Footer", however using the function below they aren't getting set?

[code]

[2015-07-13 23:33] Webcreations907 commented on #32
Try changing the below.

[code]

To

[code]

Also make sure that 'Primary' & 'Footer' in the below are the names given when naming/creating them on Appearance > Menus page

[code]

[2015-07-13 23:50] Webcreations907 commented on #31
hmm, just tested on 3 different browsers with latest Redux and WP and didn't have any issues with the spinner on importing or re-importing.

Did you clear your browser cache/hard refresh after updating to the current version?

[2015-07-13 23:57] Webcreations907 commented on #19
Hello,

Sorry for the delay back on this, hoping you got it working.

But I did take a look and seemed like it works and is being called. If you have a error somewhere maybe it's not getting that far before exiting.

You could check the console and see if it shows a error message during the importing.

[2015-07-14 01:05] contempoinc commented on #32
Nice, that did it! Knew it was something simple I was missing. Thanks for the awesome extension!

[2015-07-14 01:05] #32 closed, assigned to nobody

[2015-07-14 01:51] Webcreations907 commented on #32
No problem, glad you're liking it so far :wink:

[2015-07-30 12:21] saschametz95 opened #33 "There was an error importing demo content"
When I click on a Demo Import, this message appears after a while:
"There was an error importing demo content"

How do I know now what went wrong?

[2015-07-30 16:14] glmarco24 opened #34 "Importer not working on some servers"
Hi,

Maybe someone had similar problem, importer is working in local, working on my servers, but some users complained it doesn't work. After my check and attempt to run importer on clean, new wp installation, it appears it's really not working on some servers.

Any idea what might be a problem?

Thanks!

[2015-08-04 12:48] ahmadawais opened #35 "Is there a hook that could be used after import is done?"
I would like to automattically assing the menus and front/blog pages once the import is done. I can do that programatically but there should be a hook which I can use to trigger that code, since if there is no page called Home (before demo is imported) I cannot assign Home to Front page.

Is there a way around this? Any help would be really appreciated.

[2015-08-14 22:13] pareshsojitra opened #36 "it is not importing data file of redux theme options"
hi

I'm not getting theme options imported redux theme options data file.
- widget & content.xml is successfully imported.

[2015-08-26 04:49] nomansbeauty opened #37 "Import demo issues"
Hi,

Thanks for making this wonderful extension. But we noticed problems while using it since 8+ months. Sometimes it imports data and sometimes it breaks in the mid. Particularly updated version is not working on following hosts:
- GoDaddy
- Hostgator
- Localhost (previous version worked on this)

Hoping for you to please consider a solution for this and giving reasonable error messages to users

[2015-08-27 21:36] Webcreations907 commented on #37
Hello,

Maybe file upload size? If you can check the browser console and see what the error message says.

[2015-08-27 21:37] Webcreations907 commented on #36
Hello,

Hopefully you got this figured out. If not did you copy the theme options from the Redux import/export panel?

[2015-08-27 21:39] Webcreations907 commented on #35
Hello,
At the bottom of example-functions.php (link below) you'll find example on setting home page, menu, etc.

https://github.com/Webcreations907/WBC-Importer-extension/blob/master/example-functions.php#L205-L285

[2015-08-27 21:41] Webcreations907 commented on #34
Are you updated to latest version? Some servers require FTP info, so there is a alternate way used in the latest version.

Also you can check the browser console(firebug,etc) to see if there is a error message, might be max file size upload limit as well.

[2015-08-27 21:42] Webcreations907 commented on #33
Hello,

You can check the browser response in the console(firebug,etc) to see what the error message says.

[2015-08-27 21:42] Webcreations907 commented on #19
Hope you got this working, if not just let me know.

Thanks

[2015-08-27 21:42] #19 closed, assigned to nobody

[2015-08-27 21:42] nomansbeauty commented on #37
Okay I will check browser console and see if anything shows up. Thanks for your reply.

[2015-08-27 21:43] Webcreations907 commented on #21
Going to mark this a solved, if you're still having issues just let me know.

Thanks

[2015-08-27 21:43] #21 closed, assigned to nobody

[2015-08-27 21:43] #22 closed, assigned to nobody

[2015-08-27 21:44] #25 closed, assigned to nobody

[2015-08-27 21:44] #31 closed, assigned to nobody

[2015-08-27 21:45] Webcreations907 commented on #37
No problem, you'll see the ajax request when clicking the import button just toggle that open and check out the response.

[2015-08-28 07:20] glmarco24 commented on #34
Actually I found that on some server importing images is a problem. Looks like some server configuration issue, but I am not sure which one. I had an image as a first item and that stops everything. When I changed order posts, pages, categories, tags, etc. are imported without any problem.

[2015-08-28 07:34] Webcreations907 commented on #34
Happen to know if you have the same issue just using the normal WP importer?

[2015-08-28 07:38] glmarco24 commented on #34
Yes, yes! At the end I tried to use regular importer and there was a problem too. So, it's not related to WBC-Importer-extension

[2015-08-28 07:38] #34 closed, assigned to nobody

[2015-08-28 07:55] Webcreations907 commented on #34
That's odd, wish I had a way to replicate that issue but I haven't ran into it yet. Maybe when the WP importer updates, hopefully they'll fix that issue as well.

[2015-09-01 15:33] Gitjcvd opened #38 "Action ran before widgets get imported"
Hi,

I use the action "wbc_importer_before_widget_import" for widget areas, and working successful but the widgets are not into the widget area.

I think this ran not before the widgets. Do you have any idea?

many thanks!

[2015-09-01 22:02] contempoinc opened #39 "Would it be possible to do a Progress Bar instead of the Spinner?"
How hard would it be to swap out the "who knows where the downloads at" spinner and replace it with a progress bar or numeral percentage? I find buyers on slower hosting are complaining "I started it 15 minutes ago and its still spinning, whats going on!?!" and assuming its broken.

Is something like that possible to do, would be 100% better for usability.

[2015-09-02 02:07] Webcreations907 commented on #39
Hello,

I'll see if I can get a progress bar figured out for it, think the main part of the time will be when downloading the demo images from servers.

[2015-09-02 02:08] Webcreations907 commented on #38
Hello,

Not to sure what you mean, are you trying to register new widget areas before importing your widget file?

[2015-09-02 02:18] contempoinc commented on #39
Yup, that's exactly it. I've got a ton of nice high res images in my RE7 theme and that's where all the time is spent.

[2015-09-02 06:16] Webcreations907 commented on #39
Will try to get something together, have a few ideas for it so hopefully can get that up. Would you be willing to test it out if I put it in a dev branch?

[2015-09-02 06:27] contempoinc commented on #39
Definitely up to beta test.

On Tuesday, September 1, 2015, Webcreations907 notifications@github.com
wrote:

##

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

[2015-09-02 06:43] mstoic opened #40 "Theme Check Shows Multiple Errors"
Theme check shows many errors because of usage of <strong>fopen</strong> and <strong>file_get_contents </strong> functions. Can you please change them to use the WP_Filesystem

[2015-09-02 06:53] Webcreations907 commented on #40
Hello,
Most of those are because of the actual WordPress's importer plugin https://wordpress.org/plugins/wordpress-importer/ , so would need them to change to the WP_Filesystem

[2015-09-02 10:11] Gitjcvd commented on #38
Yes that's what I meant. I use Redux "Widget Areas" Extension.

[2015-09-02 17:56] contempoinc commented on #39
Just had one buyer apparently super impatient, clicked the demo import 10x and nows he's got the content duplicated 10x all because he thought the "Spinning wheel of death"  he called it was hung.

[2015-09-02 23:02] Webcreations907 commented on #39
Shouldn't be able to re-click it while it's importing. Think the one thing that will duplicate also is the menus, was planning on looking into that as well, even though the default WP importer does it.

Working on that progress bar now though.

[2015-09-02 23:03] Webcreations907 commented on #38
Will check that out, I have that extension too so can test it out.

[2015-09-02 23:58] contempoinc commented on #39
Right, he actually killed the process and restarted. Yup, menus do
duplicate. Should be an easy check if menu exists, die. Lol maybe?

Awesome, looking forward to testing!

On Wednesday, September 2, 2015, Webcreations907 notifications@github.com
wrote:

##

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

[2015-09-03 06:14] Webcreations907 commented on #39
Test out the importer from develop branch https://github.com/Webcreations907/WBC-Importer-extension/tree/develop and see how that works for you.

I may change it a bit more, but least you can try that out :smile:

EDITED TO ADD: you may have to test with actual demo content/image so that it takes longer to load to see it work.

[2015-09-03 06:23] contempoinc commented on #39
Nice, I'll give it test in the morning! Do you have a quick screenshot of
it?

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

On Wed, Sep 2, 2015 at 11:14 PM, Webcreations907 notifications@github.com
wrote:

[2015-09-03 06:29] Webcreations907 commented on #39
Will look like the below, the spinner will still be there as well. The color of the progress bar is whatever the primary color for admin/profile is set to.

![progress-bar](https://cloud.githubusercontent.com/assets/8421576/9651830/02e8e4a8-51c2-11e5-900b-edcaf341a865.png)

[2015-09-03 06:55] contempoinc commented on #39
That is looking rad man, will give it a try mañana!

On Wednesday, September 2, 2015, Webcreations907 notifications@github.com
wrote:

##

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

[2015-09-03 09:59] Webcreations907 commented on #38
Ok checked that out, seems like it's ran before the widgets are imported, but need to register the Redux widgets before the widget file gets imported.

The below seems to work, you'll just replace the widget array with your widget names for Redux Widgets.

[code]

[2015-09-03 15:57] contempoinc commented on #39
I grabbed the development branch to test and I'm still seeing the ol' loading icon? http://cl.ly/image/452b1S1a0318

[2015-09-03 16:00] contempoinc commented on #39
Grabbing it now to test.

[2015-09-03 16:02] Webcreations907 commented on #39
Did u clear browser cache?

[2015-09-03 16:04] Webcreations907 commented on #39
Let me know how that works out for you, I'll be making another quick change here in a bit, just to the JS files

[2015-09-03 16:06] contempoinc commented on #39
Cleared cache and regrabbed the dev branch and still not seeing the progress bar, http://cl.ly/image/3W1D271k0Z1F?

[2015-09-03 16:11] Webcreations907 commented on #39
Will check it out. Are you testing locally?

[2015-09-03 16:23] Webcreations907 commented on #39
I just test the dev branch in Firefox and Chrome, seemed to work.

Did you make sure to replace the extension_wbc_importer.php file as well?

[2015-09-03 16:49] contempoinc commented on #39
I am working locally, I replaced/merged the entire directory save my demos.
I'll double check that file.

On Thursday, September 3, 2015, Webcreations907 notifications@github.com
wrote:

##

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

[2015-09-03 17:23] Webcreations907 commented on #39
K, let me know if you get that working. I can test it out on your theme if you'd like, is [This Theme](http://themeforest.net/item/wp-pro-real-estate-7-responsive-wordpress-theme/12473778) the one you're working on?. :smile:

[2015-09-03 17:29] contempoinc commented on #39
Yup, that's the one would be awesome if you could!

On Thursday, September 3, 2015, Webcreations907 notifications@github.com
wrote:

##

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

[2015-09-03 17:52] Webcreations907 commented on #39
Seems to be working after replacing those files.
![vacation-import](https://cloud.githubusercontent.com/assets/8421576/9666212/476b02be-5221-11e5-897c-7381a50b785e.png)
![landing-import](https://cloud.githubusercontent.com/assets/8421576/9666214/49df9e7e-5221-11e5-86fe-59a766b45ec0.png)

[2015-09-03 17:52] Gitjcvd commented on #38
That works for me.Thanks for your quick help.

[2015-09-03 17:53] Webcreations907 commented on #38
No problem, glad that worked out for you. :smile:

[2015-09-03 17:53] #38 closed, assigned to nobody

[2015-09-03 17:56] contempoinc commented on #39
Odd, I'll give it another shot prolly missed something or my browser is
caching hard or something.

On Thursday, September 3, 2015, Webcreations907 notifications@github.com
wrote:

##

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

[2015-09-03 18:01] Webcreations907 commented on #39
Well hope that works out for you, kinda liking the progress bar there now so hope can get that figured out.. :)

[2015-09-03 22:35] contempoinc commented on #39
Whenever I do a clone I keep getting master, I've tried git clone -b develop https://github.com/Webcreations907/WBC-Importer-extension.git with no luck. That's the correct way to grab the develop branch right?

[2015-09-03 22:38] contempoinc commented on #39
Never mind got it working! http://cl.ly/image/0j030w3z2l3u

[2015-09-03 22:47] contempoinc commented on #39
Ok, so I'm seeing this sometimes when importing http://cl.ly/image/1q1o0z151T0C is that due to server limits? Got the same thing on two different servers, probably php.ini memory?

[2015-09-04 13:58] nomansbeauty commented on #37
Hi,
We tested again, and got this response in console:
<b>
Failed to load resource: the server responded with a status of 500 (Internal Server Error)
.../wp-admin/admin-ajax.php
</b>
Is it a data size issue? If yes, how can we extend / change this limit and timeout request of the script?
Thank you

[2015-09-04 21:32] Webcreations907 commented on #39
Great, glad you got that working.

With the size of your import, mostly because of the images you may have to have users increase the max_execution_time.

I'll be pushing some more changes here shortly to the dev branch, mainly going to change the ajax method for progress to GET.

Other than that, does that progress bar seem to be working out ok of you and your users?

[2015-09-04 21:34] Webcreations907 commented on #37
Hello,

Try increasing the max_execution_time and see if you still get the error, if you have fairly large demo content being imported it may be timing out.

[2015-09-04 22:14] nomansbeauty commented on #37
max_execution_time = 400 seconds already and I think its sufficient enough. Cant plugin throw a relevant error message if it happens?

<b>Suggestions:</b>
1. Import data in form of chunks to avoid timeout issue. Customers dont like to change server settings before installing demo content. Some of them even got frustrated.
1. Show a relevant warning or error message for any such instances like netw

[2015-09-04 22:38] contempoinc commented on #39
Ok, yeah that's what I was thinking it is. Yeah, the progress bar is
working great, they're liking It much more since they can see where it's
at, rather than guessing. Thanks again man!

On Friday, September 4, 2015, Webcreations907 notifications@github.com
wrote:

##

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

[2015-09-04 22:54] Webcreations907 commented on #39
No problem.

I'm almost done with that next update for the dev branch which I'll put set_time_limit() in there which will hopefully work for most server setups, the actual WP_importer uses it, but it seems to be getting skipped since it's being called differently.

So when I get that pushed, you may want to test it out then include it in your next theme update. Hopefully have that pushed up in 10-

[2015-09-04 22:56] Webcreations907 commented on #38
Just a heads up, I update the add_action line in the above code, was a late night and forgot to add the ending.

So just the bottom line was changed.

[code]

[2015-09-04 23:09] Webcreations907 commented on #39
Develop branch is updated now.

Any issues just let me know

Thanks

[2015-09-04 23:17] contempoinc commented on #39
Awesome, I'll give that a test

On Friday, September 4, 2015, Webcreations907 notifications@github.com
wrote:

##

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

[2015-09-05 00:19] contempoinc commented on #39
It'll still time out on some servers, looks like set_time_limit() didn't work. There's got a be a way so they don't have to manually up the limit in php.ini.

[2015-09-05 00:39] Webcreations907 commented on #39
I checked and it seems it's getting set higher, some servers/host providers may have it disabled though in that case they'd have to contact host or try the php.ini/.htaccess methods.

You know if they are timing out if doing the regular WP import option?

[2015-09-05 01:03] contempoinc commented on #39
Times out using the normal importer as well.

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

On Fri, Sep 4, 2015 at 5:39 PM, Webcreations907 notifications@github.com
wrote:

[2015-09-05 09:33] wildrain commented on #36
I successfully imported redux option data and it shows in my theme front-end as well but when i click save changes button in redux option panel the redux data are gone. How can i fix this ?

[2015-09-05 10:29] Webcreations907 commented on #36
@wildrain it might be because the old values are still in the redux panel after import so if u click the save button it overwrites the imported settings.

After import try refreshing the browser before clicking the save button and see if that resolves it

[2015-09-06 20:56] Webcreations907 commented on #33
Hoping you got this figured out, going to close this issue. If you have further issues or questions just let me know.

Thanks

[2015-09-06 20:56] #33 closed, assigned to nobody

[2015-09-06 20:57] Webcreations907 commented on #35
Hoping you got this figured out, going to close this issue. If you have further issues or questions just let me know.

Thanks

[2015-09-06 20:57] #35 closed, assigned to nobody

[2015-09-06 21:13] Webcreations907 commented on #39
For now think you'll have to have them up the server settings if it's timing out with that as well, probably because of the image quality/quantity.

I'm thinking of making up a different import process that would run in the background allowing users to move away from the import page and the import will continue and notify theme once complete.

Also I made another change/push to the dev branch whic

[2015-09-08 14:46] vburlak commented on #40
@Webcreations907 I wonder why WordPress.org team have not moved Importer on WP_Filesystem.
Every time, when ThemeCheck shows warnings on Wordpress Importer - somewhere in the world a kitten starts crying :smiley_cat:

[2015-09-08 14:54] vburlak commented on #39
@Webcreations907 thx a lot for progress bar feature.
Actually I came to ask whether there is a possibility to add action that reloads the theme options panel after import.
It's beautiful. Everything on develop branch. I will test it from develop branch

[2015-09-08 21:20] Webcreations907 commented on #39
Thanks @vburlak
That reload options panel after import should be in the develop branch as well, not sure if you seen that from my previous reply above.

[2015-09-08 21:25] Webcreations907 commented on #40
@vburlak
I'm not to sure why they haven't, I didn't want to change it within the importer to make it easy to swap out when they do update it.

Theme I'm working on I just put Redux and the importer/extensions in a custom plugin since custom post types have to be in there anyways for Themeforest, will make it easier to update as well.

[2015-09-10 10:12] kanawanzx opened #41 "skip content error and import widgets"
im import 1 file content and 1 file widgets. but import content it have error and won't import widget. i don't want this. i want import content (error or not error) then import widget or any file. how to do it

[2015-09-10 21:49] vburlak commented on #40
@Webcreations907 you shouldn't change it. I just backed discussion :+1:

[2015-09-10 22:07] vburlak commented on #39
@Webcreations907 completely tested develop branch.
Progress bar and reload options panel action works like a magic.

[2015-09-18 20:30] contempoinc opened #42 "Large Attachment Imports/Downloads?"
I think you mentioned in a previous ticket you were working on something to break up the import or attachment downloads for large imports? Reason is I've had quite a few buyers like 10% have issues with the import since there's a bunch of large images, they've even upped server timeout and memory limits to no avail, guessing they're on low end shared hosting. Is there anyway to break up the import

[2015-09-22 04:34] templatation opened #43 "fetching content.xml from parent folder."
Hi,

First of all thanks for sharing this awesome piece of work.
I have one question.

In my theme, I plan to have multiple demos, but content.xml is same for all of them. So say I have 10 demos, and each share same context.xml file 10 times. So the file size of theme go up. (which inturn creates issues on shared hosting)

So is there a way that importer fetches the content.xml file from the 'demo

[2015-09-22 20:30] Webcreations907 commented on #43
Hello,
I'll add some filters in the next push for that so you can override the file path for content.xml, widgets, and theme options.

I'll try to get that done here in a bit.

[2015-09-22 20:35] Webcreations907 commented on #42
Hello,

Yeah I mentioned in other post about making the importer work in the background, just haven't had a chance to get that going as I'm trying to finish up a theme and some other projects.

Not sure if the issues are with the timing out, or the file size for those you're having issues with. Are you able to check or have them check the server error log?

[2015-09-22 20:35] Webcreations907 commented on #41
Hello,

What error are you getting?

[2015-09-22 20:44] contempoinc commented on #42
No worries man, whats odd is I've had them raise their server timeout limits and memory and the issue is still there so maybe its the file size? Getting server logs would be near impossible to explain or try to get, dealing with non-tech people.

[2015-09-22 21:04] Webcreations907 commented on #42
Do you know off hand the largest size image you have that's being imported?

[2015-09-22 21:15] contempoinc commented on #42
I would say 1MB maybe 2MB max

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

On Tue, Sep 22, 2015 at 2:04 PM, Webcreations907 notifications@github.com
wrote:

[2015-09-22 21:30] Webcreations907 commented on #42
Doesn't seem that bad, but guess several could add up pretty quickly. Have you tried increasing all the below?
- max_execution_time
- memory_limit
- post_max_size
- upload_max_filesize

[2015-09-23 01:50] templatation commented on #43
Hi,

Sounds good. Thanks.

[2015-09-23 04:04] Webcreations907 commented on #43
Just added those filters to the [Develop Branch](https://github.com/Webcreations907/WBC-Importer-extension/tree/develop), so you can test that out.

You can use something like the below to change the file path for the content.xml file.
The below replaces the content file if it's one of the demos in the provided array, add as needed. Make sure the names in the array are your demo folder names.

[co

[2015-09-23 04:23] kanawanzx commented on #41
my internet is slow... then not import complete.. i wana if  import content file not complete (error).it still works , then it import widget file ! do you know what i mean. sory my  english so bad

[2015-09-23 06:36] Webcreations907 commented on #41
Shouldn't be a issue unless you have lots of images with large file sizes being imported.

Could be server/hosting issue as well depending on size of the content you're importing.

[2015-09-23 09:21] templatation commented on #43
Thanks alot :)

[2015-09-26 13:58] nicolagaldiolo opened #44 "Set menu, import revolution slider, and set home page."
Hello, I apologize in advance for my poor English.

I installed the wbc_importer library inside the redux-extensions> extensions root and I followed all steps from 1 to 6 and it all works fine. :-)

Now I want to import RevSlider Set Menus, and Set Home Page ... I saw the file functions.php example-but I can not figure out which files should I put these functions ... I apologize but several hours

[2015-09-28 21:45] #37 closed, assigned to nobody

[2015-09-28 21:47] nomansbeauty opened #45 "Importer problem + solutions"
Hi,

Thanks for making this great extension. We are using it since an year now. We often face problems (or our customers) due to which support queue gets long. Most customers panic due to not understanding of server requirements.

<strong>Problems that can be solved:</strong>
1. No incremental loading of data - asynchronous data loading will bypass server php execution time limits, which is often

[2015-09-29 01:02] Webcreations907 commented on #44
Hello,

If you look in the example-functions.php file, at the bottom there is a example function on how to set menus, homepage, and import rev slider.

You'd just place that function in your functions.php file, or where ever you have your admin functions at.

[2015-09-29 01:20] Webcreations907 commented on #45
Hello,

When creating/modifying this for a theme for Themeforest I've been working on, I had it in mind that it would be importing small sized placeholder images as most themes on Themeforest don't include the preview/demo images.

I've thought about background loading of demo data, just haven't had the time to actually start putting it together as I'm trying to get my theme done as well.

I know

[2015-09-29 05:20] nicolagaldiolo commented on #44
Thanks a lot, it works perfectly! You can close the issue!

[2015-09-29 14:55] contempoinc commented on #45
I'd be willing to throw some money into making this happen, 95% of the support requests I get for my RE7 theme are buyers not able to import the data due to server limits, etc…

[2015-09-29 15:05] contempoinc commented on #45
Would changing set_time_limit(0) to ini_set('max_execution_time', 0) make any difference?

[2015-09-29 17:12] Webcreations907 commented on #45
@contempoinc should be the same effect, ini_set may be disabled(safe mode,etc) on some hosts though.

[2015-09-29 17:20] Webcreations907 commented on #45
@nomansbeauty I've checked out that plugin briefly on the process used, definitely wouldn't be able to use the same process or we'd end up with 100gb themes when including multiple demo options, which would cause another issue. :)

I will try to work on this when I get some time, have had a plan for it for awhile just been really busy.

[2015-09-29 17:44] contempoinc commented on #45
@Webcreations907 @nomansbeauty  I'd be willing to pay to get this done, it would save me hours and hours of support.

[2015-09-29 19:43] nomansbeauty commented on #45
@contempoinc Thanks for offer. Lets talk about it sometime this week, I have solid offshore team of developers who can improve this, may cost a bit high, but we can together handle the cost I believe. Please connect with me on skype ID: nomans_beauty

Thanks alot @Webcreations907 for details, I will be looking forward to improvements. Do you guys know any other paid plugin for this? I searched but

[2015-09-29 19:49] contempoinc commented on #45
Shot ya an add on Skype

Cheers,

Chris Robinson
www.contempoinc.com
twitter.com/contempoinc

On Tue, Sep 29, 2015 at 12:43 PM, Mo Noman notifications@github.com wrote:

[2015-09-29 21:00] Webcreations907 commented on #45
@nomansbeauty no problem, I don't know of any plugins, pretty sure there isn't any other for Redux either unless @dovy is working on one?

[2015-09-29 21:04] dovy commented on #45
@kprovance is said to be.  ;)

[2015-09-30 12:55] templatation commented on #43
Hi,

I tried this method, and it works totally fine on my localhost.
But when I try it on my host ( wpengine ) it throws the error "something went wrong" popup. I tried for hours to sort it out but no avail.
Tried clearning cache, resetting file permission, echo'ed file name(to verify it exists) , as per my findings,  if ( !empty( $new_location ) && is_file( $new_location ) ) this return false on

[2015-09-30 18:44] Webcreations907 commented on #43
Hello,

Few things below.

1- Did you try to echo `$new_location` before that check to see if the file path is correct?

2- Do you have in special characters in your filename/folder path

3- When you say remote, are you trying to load the file from a different server?

[2015-10-02 03:37] templatation commented on #43
Hi,

1) Yes, I did, and it echo'ed full path to file and its correct.
2) No, there are no special chars.
3) No, not different server, its just ../../ location.

However, Now I created a plugin for this extension instead, and not using this filter for now.

[2015-10-02 03:37] #43 closed, assigned to nobody

[2015-10-15 16:23] naumanahmed19 opened #46 "example functions not working"
Functions available in example-functions.php not working for me. I have copied functions to my functions.php and uncommented hooks but nothing happening. any idea?

[2015-10-16 08:59] naumanahmed19 commented on #46
Finally got it working.. This was priority issue

[2015-10-16 08:59] #46 closed, assigned to nobody

[2015-10-17 09:59] emorling opened #47 "Redux Panel is not updated on Import unless Page is Refresh"
This is what happens:
1. Import demo including Redux data
2. Redux panels still show old data. The frontend indeed shows the fresh imported data

To re-populate Redux with the correct values I assume that the import function must force a page refresh? Is this being fixed?

[2015-10-17 10:06] emorling opened #48 "Menu is growing for each import"
Each time I do an import the Primary Menu in Wordpress is growing with a new set of items. Any ideas how to fix this?

[2015-10-18 20:10] erropix commented on #45
Dear @contempoinc,
I got the RE7 theme, it's there's lot of issues in the demo content, half of the images return 404 error and the widget.json is not relevant to your theme, it just contains "Widget WBC Demo Importer" for a sidbar that do not exists in the theme.

aside from that,
I work frequently on theme installations and I know how the process should be in perfect world.
I am currently workin

[2015-10-19 04:04] nomansbeauty commented on #45
@ERROPiX  glad to hear that. Good luck and do share with us once ready :)

[2015-10-29 18:04] novalex commented on #47
I had the same issue, fixed it for now by adding

[code]

in field_wbc_importer.js after line 67.

[2015-11-02 10:40] kanawanzx commented on #45
about time limit. if internet in my country so slow then and the import demo is not apply. it to affect quality of theme
i think . we need careful with internet in Least Developed Countries.
this is my idea.
sorry about my english not good

[2015-11-03 20:23] vburlak commented on #47
@emorling look at the [develop branch](https://github.com/Webcreations907/WBC-Importer-extension/tree/develop). Here is a solution e74f0315b258e156ceb7b617514c66d82e7351d1

[2015-11-04 07:28] kanawanzx opened #50 "example-functions.php"
Hello, I apologize in advance for my poor English.
how to use it . how to using many function in it.i wanna customize home page, menu . but i don't know use this file.
help me please

[2015-11-04 07:43] #50 closed, assigned to nobody

[2015-11-05 04:10] kanawanzx commented on #41
hello.
this is my problem . because my user in everywhere. i wanna skip import error of content.xml and import widget or slider .
sorry about my english,

[2015-11-29 04:45] bibiangel1989 opened #51 "Issue with Re-Import data"
Hi,
I am very glad to find this plugin, it really helped me a lot in development issues theme. But i'm having some problems :
1. Import is so good, but when i'm Re-Import, it does not work, and Menu is duplicated.
2. When I import widgets, if timeout lasted more than normal, imports may lead to malfunction. The same thing with the Internet connection delays.

Any solution for this issue ?
Thanks,

[2015-12-01 19:47] vburlak opened #52 "[Feature Request] - Add checkbox options on Import Data screen for select which data will be imported"
Hi, @Webcreations907

I'm think it will be great to have ability to check, which demo data will be imported after clicking Import Demo button.
Now we have ability to import
- content.xml(posts + pages + comments + menus data)
- theme options
- widgets
- menus
- revolution slider
- and setup home page

For example, user(customer) want to import only:
- pages
- theme options
- menus
- revolution sli

[2015-12-02 12:01] mrgurdeep opened #53 "WBC Importer not importing layer slider with redux"
Hi

WPC imprter is an awesome extension for redux but unfortunately I am not able to import the LAyer sliders in my theme.

Slider revolution works just fine.Can you help with the Layer Slider issue please.

Thanks

[2015-12-16 11:05] pareshsojitra commented on #44
Hi,

It's not importing multiple sliders, can you help me in this ?

it imports only one slider

if ( class_exists( 'RevSlider' ) ) {

[code]

[2015-12-24 12:31] pareshsojitra commented on #36
Hi,
It was a problem of refreshing the theme option page after import.

I've done this by refreshing the page.

[2015-12-24 12:31] #36 closed, assigned to nobody

[2015-12-28 13:22] BurakParsAydin opened #54 "Max Mega Menu Import"
Hello,

First of all, thank you for this great extension. It saved my time. :+1:

Here is my issue, i want to import Max mega menu content by json file. Here is it [https://www.maxmegamenu.com]. But i couldn't see appropriate code block in example-function.php. I also imported Revslider, all my content and theme options.

[2016-01-10 06:15] grosscorporation opened #55 "Example implementation"
Does anyone have a working example? Cant get this to work

[2016-01-11 02:21] grosscorporation opened #56 "Rearrange import order"
Would it be possible for one to rearrange the importation order, say start with post > pages > widgets > media. I noticed that the images are being downloaded first which is a concern

[2016-01-17 08:01] geniuspro opened #57 "Will you add delete dummy data button in future?"
Hello.
Thanks for the awesome Redux Extension. This extension is very useful and saves my time.
Can you add Delete dummy data button in future development?

[2016-01-25 07:06] thirumani02 opened #58 "wp_get_http Deprecated since 4.4. Use WP_http instead"
RECOMMENDED: <strong>wp_get_http()</strong>  found in the file /extensions/wbc_importer/inc/importer/wordpress-importer.php. Deprecated since version 4.4. Use <strong>WP_Http</strong> instead.
<code>Line 905: $headers = wp_get_http( $url, $upload['file'] );</code>

Is there any method to resolve this?

[2016-02-10 16:55] genethic commented on #58
First of all, thanks for this awesome extension! I would like to know if you have plans to fix this issue? I would like to make a pull request if not

[2016-02-15 09:24] naumanahmed19 opened #59 "Unable to import revolution slider"
I have added zip in demo1 folder home-slider.zip but its not importing slider.

one more thing after data imported it removes demo1 folder. Any way to stop this?

[2016-02-18 06:39] taksu commented on #58
@genethic please make the pull request and/or paste the updated code here if you have the fix. Would really appreciate it. Thanks.

[2016-02-19 23:44] Businezz99 opened #60 "Revolution Slider"
Hi, i can not set revolution slider to be imported. I try to add example code to functions.php and i try also i add same code at extension_wbc_importer.php but doesn't work. Everything else it works, just sliders can not be imported.

[2016-02-20 03:14] hamdan-mahran opened #61 "There was an error importing demo content message!"
Hi,

Thank you so much for this awesome plugin :)
After i click on import demo button i get the message that showing in the attachment!
i get this message ( There was an error importing demo content )

Also i using XAMPP on my localhost
WP Memory Limit ========> 256 MB
PHP Time Limit  =========> 900

![error-message](https://cloud.githubusercontent.com/assets/8728448/13194133/0f14c194-d790-11e5-8f

[2016-02-20 08:09] Webcreations907 commented on #58
Hello,
That is part of the [WordPress Importer](https://wordpress.org/plugins/wordpress-importer/) plugin by WordPress. I can take a look at it, but they should be the ones that fix the issue since it's in their plugin.
I see on their issues/support tab that others have brought the issue up to them, so hopefully they'll get it fixed.

[2016-02-20 08:15] Webcreations907 commented on #48
Hello,
Sorry I've been so far behind, been hard to get in here.

The WordPress Importer plugin is actually the cause of the menus issue being reimported each time. They have some filters in there that you could use to check to see if the menu items are already imported.

I'll close this since, but if you have any further questions about it just let me know.

Thanks

[2016-02-20 08:15] #48 closed, assigned to nobody

[2016-02-20 08:18] Webcreations907 commented on #52
Hello,
Will keep this in mind for when I get some time, ideally I'd like to re-write the whole thing but depends on time and projects.

[2016-02-20 08:19] Webcreations907 commented on #53
Hello,

I haven't spent much time with layer slider, when I get a change I'll take a look at their import process and see if it's possible.

[2016-02-20 08:19] #53 closed, assigned to nobody

[2016-02-20 08:20] Webcreations907 commented on #55
Going to assume you got this figured out since it's over month old, if not just let me know.

Thanks

[2016-02-20 08:20] #55 closed, assigned to nobody

[2016-02-20 08:22] Webcreations907 commented on #56
Hello,

Actually in the import process from WordPress Importer, your images will mess up if you don't do them first. Kinda sucks, but noticed they need to be in a order by ID.

[2016-02-20 08:22] #56 closed, assigned to nobody

[2016-02-20 08:27] Webcreations907 commented on #57
Hello,
You can recommend [WordPress Rest](https://wordpress.org/plugins/wordpress-reset/) plugin which will reset the WordPress install back to default.

Not sure on adding a delete button, because I wouldn't know what was being imported and set up as each user would be different.

Going to close this as I'm trying to get caught back up on this issue tracker, but if you have any further questions

[2016-02-20 08:27] #57 closed, assigned to nobody

[2016-02-20 08:28] Webcreations907 commented on #60
Hello,

What code are you using for the slider importing?

[2016-02-20 08:30] Webcreations907 commented on #59
Hello,
Did you set up the function for importing sliders from the example-functions.php file?

After importing, it shouldn't delete or remove anything your folder should stay there.

[2016-02-20 08:34] Webcreations907 commented on #61
Hello,
Are you importing a larger amount of images that are high quality?

[2016-02-20 08:56] Webcreations907 commented on #54
Hello,

Sorry for the delay been bit behind.

You could use the same function/action that you use to import your sliders. I see that's a paid plugin and I don't have that once so unable to test it out.

Hoping you got this figured out since it's a bit old, let me know if you have any further questions on this.

Thanks :smile:

[2016-02-20 08:56] #54 closed, assigned to nobody

[2016-02-20 09:00] Webcreations907 commented on #51
Hello,
1- That is issue caused but the WordPress Importer plugin, hopefully they will get it worked out on one of their updates.

2- Hard to account for all timeouts and internet connection, but as long as you don't have bunch of high res images then should be ok.
In the future It may get updated so that it uploads in parts, but right now I'm just to far behind to be able to work on that at this t

[2016-02-20 09:00] #51 closed, assigned to nobody

[2016-02-20 09:01] #40 closed, assigned to nobody

[2016-02-20 09:01] #41 closed, assigned to nobody

[2016-02-20 09:01] #42 closed, assigned to nobody

[2016-02-20 09:04] Webcreations907 commented on #44
@smpdesignmedia Sorry for the delay, you'd just need to loop over the sliders, check out the issue below which has an example for multiple slider imports.

https://github.com/Webcreations907/WBC-Importer-extension/issues/15

[2016-02-20 09:04] #44 closed, assigned to nobody

[2016-02-20 09:05] #47 closed, assigned to nobody

[2016-02-20 11:55] Businezz99 commented on #60
Hi, same code like from example-functions.php
But I paste that code at theme functions with slider locatio, which is in demo-files and doesn't work. Also I add that code in almost all files from wbc_importer folder, just in case if gonna work.

[2016-02-20 12:07] Businezz99 commented on #60
And radiux framework.

[2016-02-20 14:37] hamdan-mahran commented on #61
Hello @Webcreations907

Thank you so much to reply to my question :)

Yes unfortunately, the xml file will import larger amount of images, it's about 150MB :(

[2016-02-21 14:51] thirumani02 commented on #58
Hello,
Thank you so much your reply, I tried the following

instead of

and it works. Anyway, i am waiting for official & proper fix. Thank you for this awesome extension.

[2016-02-25 13:59] rafalborowski opened #62 "Replace file_get_contents, fopen, fclose with WP_filesystem"
So after successfully implementing this (as I thought) I went back to Theme Check to see if everything is nice and clean and as it turns out it freaked out about `file_get_contents`, `fopen` and `fclose`. Now I know there's nothing wrong with those especially that they are used for read but nevertheless I wanted to get rid of those pesky warnings.

So I've tried to get the data in a different way

[2016-02-29 12:54] Delpierooo opened #63 "Replacing wp_get_http with WP_Http"
Hi,

when using this extension we get the following notice:

RECOMMENDED: wp_get_http() found in the file /extensions/wbc_importer/inc/importer/wordpress-importer.php. Deprecated since version 4.4. Use WP_Http instead.
Line 905: $headers = wp_get_http( $url, $upload['file'] );

We have tried replacing it with $headers = WP_Http::get( $url, array( $upload['file'] ) ); but then it does not work.

Th

[2016-02-29 12:55] Delpierooo commented on #62
Having the same issue.  A replacement for thoose required or making everything a plugin. Any solution?

[2016-03-02 01:30] elusivethemes commented on #62
I'm having the same issue, my themeforest theme is being rejected just for this. Any ideas ?

[2016-03-02 06:31] rafalborowski commented on #62
@ukscotth Sure. Just pack it up as a plugin, throw it into TGM and call it a day :)

[2016-03-02 08:28] elusivethemes commented on #62
Sorry for being stupid but how do I pack it up as a plugin because it has to go in the extensions folder of redux doesnt it ?

[2016-03-02 08:35] rafalborowski commented on #62
Make the extenstion.init file as a plugin (not gonna explain the basics here), then just have the proper folder structure (init in plugin root folder, then extenstions/wbc_importer etc.) and that should be enough. To pack it with a theme include it via TGM (as per TF submission requirements) and make it install after Redux on theme install.
If you are using it to also set up menus, set pages, inst

[2016-03-02 08:36] elusivethemes commented on #62
Thanks a lot, il give it a try :)

[2016-03-02 10:41] elusivethemes commented on #62
Installed Redux and The importer both as plugins but now im getting this when trying to import the demo data : Fatal error:  Call to undefined function WP_Http() in .............

Any ideas ?

[2016-03-02 10:47] elusivethemes commented on #62
And if i embed redux and use this as a plugin i get this : Fatal error: Class 'Redux' not found

:(

[2016-03-02 11:57] rafalborowski commented on #62
I just submitted like 4 days ago a working version. It's hard for me to debug from conversation. The Redux class missing is wired. You should have the Redux as a plugin anyway and then your config as an "embed" in fn.php overwriting redux. There is a lot of info online that it does not play nice with WP hooks (as it inits before) so it needs sometimes to be initialized before or sometimes after so

[2016-03-02 11:57] #62 closed, assigned to nobody

[2016-03-24 09:59] mstoic opened #64 "Problem with Theme Check"
I am trying to publish a theme to ThemeForest, but they are soft rejecting it because Theme Check displays many errors when I include this extension. Any solution for that?

[2016-04-02 14:42] NabilLahssine opened #65 "Demo Data from external URL"
Hi thanks for the great extension it's really helpful. I'm wondering if it's possible to have the demo files hosted on external server and not on local directory if yes please guide me on how to do that.

Thanks.

[2016-04-05 10:32] Vishal-Deshpande commented on #64
@Webcreations907 Can you advice on, how to use wbc importer as standalone wp plugin? So that we can avoid TF soft rejection.

[2016-05-11 15:51] Johnnychaos opened #66 "Importer stops after importing posts"
When I run importer it stuck in the midway and spinner is running.
I can check that images are uploaded (they are lightweight placeholders) as well as all posts and pages are imported.
Theme options, widgets and menu are not.
When I refresh the page, and check "reimport" is imports the widgets, but still without theme options.

From error log:

[code]

[2016-05-13 07:51] temash opened #67 "Several content XML's"
Hello. Great extension! Can anyone help me. How can I use several content XML files (content-01.xml, content-02.xml, etc.)? Thanks

[2016-06-02 09:00] BurakParsAydin opened #68 "Installing as a plugin ?"
Hi,

The extension is great. It saves time. However can i use this extention as WP plugin? If so, how ?

Thank you!

[2016-06-27 14:56] Basilakis commented on #68
That sounds the best for me, as a Demo Installer.
Is it possible?

[2016-06-27 15:07] Basilakis commented on #65
Hey,

Is there a solution on that one?
It does look as an amazing idea

[2016-07-18 03:14] trungjayce opened #69 "Slider, Menu, Home"
Hi
I've included in the example-functions.php functions.php. But when the data import is finished it is still no Revolution Slider, config menu, config home page

Thank you!
![1](https://cloud.githubusercontent.com/assets/20389580/16905454/5bc43bae-4cd0-11e6-84dd-f7a60569e049.png)

[2016-07-18 15:00] simrandeep commented on #68
I also want to know if I can supply it as a plugin with my themes.

[2016-07-18 15:02] simrandeep commented on #64
My theme is also soft rejected for including it in my theme. Any solution?

[2016-07-18 15:05] simrandeep commented on #63
Hi @Delpierooo  Did you find any solution for it? I am also facing the same issue.

[2016-07-19 13:00] BurakParsAydin opened #70 "Widget Issue"
I try to import my widgets. But always failed. I created widgets.txt and put it to demo folder. Others work fine like content.xml, revslider etc. Should i do something more than putting just widgets.txt to my demo folder.

[2016-07-29 14:08] Basilakis commented on #68
Any reply here? Can we get a clue please @Webcreations907

[2016-08-05 03:24] Webcreations907 commented on #68
Hello,

Been very busy so hard to get in here at times. You can load your extensions from theme or plugin, you just need to change the location of your extension directory for Redux to load them from see [Redux Extension Loader](https://github.com/reduxframework/redux-extensions-loader) for more info on loading extensions from elsewhere.

[2016-08-05 03:26] Webcreations907 commented on #70
Just need to use [This Plugin](https://wordpress.org/plugins/widget-importer-exporter/) for exporting the contents

[2016-08-05 03:26] Webcreations907 commented on #69
What version of PHP are you currently using? I noticed this issue when I was using PHP 7 but below was fine.

[2016-08-05 03:28] Webcreations907 commented on #66
Hello,

Are you using PHP7? If so it's not updated for that version yet.

[2016-08-05 03:30] Webcreations907 commented on #64
I just replied to another topic #68 about that, maybe will help for your needs as well.

[2016-08-05 03:32] Webcreations907 commented on #61
Sorry for the delay back, hopefully you got this figured out. Doesn't import large images that well as it just uses the WordPress Importer to import those.

[2016-08-06 12:17] simrandeep commented on #64
But you didn't mention if issues are fixed or not

[2016-08-08 09:41] Johnnychaos commented on #66
Yes, I am. Will it be updated? Do you have some time frame?
Regards, Jan

[2016-08-30 04:06] cuocsongso commented on #39
Hello,

I am very interested in the Progress Bar, you can please send me the code.

My mail : huypdsoftware@gmail.com

Thank you very much!

[2016-09-23 22:43] Moutaz-homsi commented on #45
any news related to this issue guys ?
if someone start to fix it maybe i can help .

[2016-09-23 23:17] Moutaz-homsi commented on #45
Hi guys
so how do you solve this issue for your themes ?
i found this code https://github.com/proteusthemes/one-click-demo-import , can we implement the ajaxing functions that they use it to import files here ?
i prefer to use this code because i use reduxframework and its easier to import demo data from theme option rather than from a 3d party plugin or from another admin page
let me know what ha

[2016-09-24 00:09] kprovance commented on #45
I ended up writing my own from scratch, that hooks into the WP importer and uses ajax to cycle through various import files (and makes a nice progress bar).  It doesn't suport rollback tho.  That's way too complicated considering the interaction with the database.

[2016-09-24 01:23] nomansbeauty commented on #45
@kprovance  :+1:   Would be great if you can share the link with everyone here. Thank you

[2016-09-24 01:27] kprovance commented on #45
There is no link.  :)

I spent weeks getting that complex piece of code to work properly.  The _last_ think I want to do is just give it away and have to answer 100 questions about how to get it to work.  I already do that with Redux for free (mostly to a bunch of people who are too cheap to donate or even say 'thank you' half the time..  Oh, and it's a Redux extension, not a one size fits all sol

[2016-09-24 05:00] nomansbeauty commented on #45
Sounds good.

[2016-09-24 10:48] Moutaz-homsi commented on #45
Sounds great, this will benefit both of us .

[2016-09-24 21:06] erropix commented on #45
Hi guys,
I want to start project to solve the export/import problems of WordPress but I didn't found some to help.
If anyone want to contribute to this project please contact me at admin@erropix.com
Thanks

[2016-09-24 23:11] Moutaz-homsi commented on #45
Hi @ERROPiX , i would love to , but because mr kprovance has done the same task i think we can buy it from him as redux premium extension, codecanyon plugin or anything mr kprovance prefer .
i do not think redo the code again would be good for us while its already there .
@kprovance  please keep us updated if you would release it for sell soon :-)

[2016-10-20 12:36] pixeltag commented on #64
i have same Problem , when i check my theme , it need to use WP_filesystem  instead of fopen , fclose , etc  in parser.php file . any ideas ?
thanks

[2016-10-23 11:09] zafarullahjoiya opened #71 "Hi @Webcreations907"
This extension is super cool ... I really appreciate for your effort. I am using main mega menu plugin for menu presentation ... i want to import its demo file. how can i do that.is there any possibility if i create the demo file and place into demo1 folder like theme-options .... will it work for me?.
Main mega menu generate the txt file when we import the settings.

Thank you

[2016-10-28 10:56] manchumahara commented on #64
@pixeltag   the parse method of parser.php file may show this error, replace the method with this https://gist.github.com/manchumahara/9627b6de7d8f0aa66bcb48e4418ed868 as work around,

delete ofpen and fclose methods as they are not needed

[2016-11-08 21:15] contempoinc opened #72 "Using WP_Filesystem instead of file_get_contents & fopen to pass theme check?"
Yo, is there any way to update this to use the WP_Filesystem instead of file_get_contents, fopen, & fclose so it'll pass theme check?

Screenshot https://cl.ly/34241o1s2a3J

[2016-11-10 11:54] ewtstudio commented on #66
Hi,
I have not php7. How can I solve this issue? Any idea, please. Thank you & Regards,

[2016-11-16 18:19] contempoinc commented on #72
Any word on this man? Themeforest is giving me hell over this, and I know the WordPress Importer plugin uses it still but they won't listen to me — its ridiculous.

[2016-11-18 18:15] contempoinc commented on #62
@rafalborowski Could you share the code for WBC as a plugin and how you've setup your after-demo-setup.php, I'm running into the same issues with Themeforest & Theme Check its annoying as hell. Thanks in advance!

[2016-11-18 21:15] contempoinc commented on #62
@rafalborowski Nevermind, was way simpler than I thought — got it!

[2016-11-28 09:53] BurakParsAydin opened #73 "Importing Essential Grid data"
Hello,
I'd like to use this plugin for importing Essential Grid plugin like Revolution Slider. How can i achieve this ?

Thank you!

[2016-11-30 15:20] jeni1616 commented on #69
i think for php 7 we can apply this solution : https://wordpress.org/support/topic/menu-not-imported-in-php-version-708/ , i think it's working for me :)

[2016-12-13 18:58] bibiangel1989 commented on #72
Remove it, when you pass review, you can reinstall it & update your theme. This is my solution.

[2016-12-13 19:01] contempoinc commented on #72
Naw, I actually turned the Redux Extensions into a custom plugin so there's no issues with theme check.

[2016-12-13 19:03] bibiangel1989 commented on #72
Yes, that is a good solution. :)

[2016-12-24 06:55] kenshiwara opened #74 "Compatibility Note Concerning PHP 7"
**Topic:** Compatibility with PHP 7.0.13
**Tested on:** XAMPP -> PHP 7.0.13
**WordPress Version:** 4.7
**Redux Framework Plugin Version:** 3.6.3.2

[code]

Thanks in advance for your reading my note.

[2016-12-24 08:35] kenshiwara commented on #74
I have already placed a pull request at:
https://github.com/Webcreations907/WBC-Importer-extension/pull/75/files

All the best!

[2017-01-01 11:38] pratik commented on #72
@contempoinc hey, can you share code of how you turned the extensions into a plugin ?

[2017-01-17 15:50] zafarullahjoiya commented on #59
Hi naumanahmed19,

Your issue has been resolved or not?
Actually i am facing same issue with my theme.

[2017-01-28 07:19] Webcreations907 commented on #74
Thanks 😄

[2017-01-28 07:19] #74 closed, assigned to nobody

[2017-01-28 07:21] Webcreations907 commented on #73
Hello,

Sorry for the delay, not sure if I have that plugin to test with. If it has import files and Class, just do the same way as Rev Slider.

:)

[2017-01-28 07:21] #73 closed, assigned to nobody

[2017-01-28 07:22] Webcreations907 commented on #71
Hello,

Hopefully you got this figured out, if not just let me know and can try to take a look when I get a chance.

😄 Thanks

[2017-01-28 07:22] #71 closed, assigned to nobody

[2017-01-28 07:24] Webcreations907 commented on #72
Sorry I didn't get to ya sooner @contempoinc

😞

[2017-01-28 07:24] #72 closed, assigned to nobody

[2017-01-28 07:24] #70 closed, assigned to nobody

[2017-01-28 07:25] #69 closed, assigned to nobody

[2017-01-28 07:25] #68 closed, assigned to nobody

[2017-01-28 07:26] Webcreations907 commented on #67
Hello,

Currently not a option, but may become one in future update.

Thanks

[2017-01-28 07:26] #67 closed

[2017-01-28 07:27] Webcreations907 commented on #66
Hoping you got this working, if not just let me know.

Thanks

[2017-01-28 07:27] #66 closed, assigned to nobody

[2017-01-28 07:43] Webcreations907 opened #76 "Feature Requests"
Hello,
If you have any features or improvements you'd like to see feel free to let me know in here.

Thanks

[2017-01-28 07:44] Webcreations907 commented on #65
Hello,

Currently not a feature, but feel free to add to #76 for feature request.

Thanks

[2017-01-28 07:44] #65 closed, assigned to nobody

[2017-01-28 07:47] Webcreations907 commented on #64
Hopefully you got this figured out by now, sorry for the delay.

If not just let me know.

Thanks

[2017-01-28 07:47] #64 closed, assigned to nobody

[2017-01-28 07:53] #61 closed, assigned to nobody

[2017-01-28 07:54] Webcreations907 commented on #60
Hopefully you got this worked out, if not just let me know.

Thanks

[2017-01-28 07:54] #60 closed, assigned to nobody

[2017-01-28 07:55] Webcreations907 commented on #59
@zafarullahjoiya is your demo folder being deleted as well? Or you just having issues with the importing of the slider?

[2017-01-28 07:58] Webcreations907 commented on #52
@vburlak I added a feature request topic if you'd like to add there #76

Thanks

[2017-01-28 07:58] #52 closed, assigned to nobody

[2017-01-28 07:59] Basilakis commented on #68
Why closing, noone managed to do it :-)

[2017-01-28 08:00] Basilakis commented on #76
Make it as a Plugin usage, to make themes lighter in size, which is really important nowdays.

[2017-01-28 08:01] #45 closed, assigned to nobody

[2017-01-28 08:02] QuinnWilton commented on #45
❤️ 💚 💙 💛 💜

[2017-01-28 08:04] Webcreations907 commented on #39
Progress bar feature and panel reload are now merged into main master files, so you can grab that. 😄

[2017-01-28 08:04] #39 closed, assigned to nobody

[2017-01-28 08:21] NabilLahssine commented on #65
Thank you for your answer (even if it's a 9 month late one!)
I have already developed my own solution,

Best of luck

[2017-01-28 08:29] Webcreations907 commented on #68
This is a old topic, trying to close out the ones that haven't been active in hopes it was figured out already.

If you use the [extension loader](https://github.com/reduxframework/redux-extensions-loader/blob/master/loader.php) linked above as well in a plugin then it will load your extensions that you have in the plugin, you'd just place the extensions in a folder called `extensions` within your

[2017-01-30 11:55] zafarullahjoiya commented on #59
@Webcreations907 Thank you for response really appreciate.

My issue is resolved ... i just replace the directory name like

              //If it's demo3 or demo5
			$wbc_sliders_array = array(
				'demo3' => 'someslidername.zip', //Set slider zip name
				'demo5' => 'anotherslider.zip', //Set slider zip name
			);
demo3 , demo5 to Main. ( main name is for root folder in which i have demo1 folder

[2017-02-17 08:56] temash opened #77 "Import several revolution sliders for one demo"
I have two revolution sliders in one demo. Can I import several sliders? How to do that? I used:
[code]
Not working, imported only latest 'slider2.zip' slider.
Thanks

[2017-02-17 17:14] #77 closed

[2017-02-17 18:19] Webcreations907 commented on #59
@zafarullahjoiya
The keys `demo3,demo5,etc` are the demo folder names, so you'd just change/add those to whatever your demo folders are named.

If you had demo folders named barber, salon, creative, etc then would be like below.

[code]

[2017-02-17 18:22] zafarullahjoiya commented on #59
Thanks i really appreciate that your value able feedback...

On Fri, Feb 17, 2017 at 10:19 AM, Webcreations907 <notifications@github.com>
wrote:

--
Web Developer

[2017-02-17 18:23] Webcreations907 commented on #77
#15 If you were still looking for that 😄

[2017-02-23 18:49] contempoinc commented on #76
@basilakis it's crazy easy to move this into a plugin I actually made one for all my redux extensions

[2017-02-23 18:53] contempoinc commented on #76
@Webcreations907 One major thing would be possibly a way to run the import in the background or somehow get around servers with low max_execution_time maybe some sort of throttling (got a ton of images to download per demo), I'm always running into issues with buyers on low end servers where they're not allowed to mod their php.ini and therefore timeout, or possibly a way to disable the media impo

[2017-02-23 19:14] Basilakis commented on #76
@contempoinc Would you mind sharing it, please?
I would really appreciate, if possible.
I really want to remove my imported from the theme, as there is no actual reason having it inside and having it as a plugin is the best possible solution.

THank you very much

[2017-02-23 19:38] contempoinc commented on #76
@Basilakis Fersure when I'm back in my office I'll upload the plugin zip to Dropbox and shoot ya the link.

[2017-02-24 19:51] contempoinc commented on #76
@Basilakis Here ya go https://dl.dropboxusercontent.com/u/51786372/ct-extensions-loader.zip

[2017-02-24 19:53] contempoinc commented on #76
@Webcreations907 Maybe enabling something like this as an option to grab the folder from your own server and download it via FTP which the user could enter their own details via the options panel if they can't make php.ini changes whether it be their host or obviously knowledge level.

http://stackoverflow.com/questions/5650439/downloading-a-folder-through-with-ftp-using-php

Possibly be as simple

[2017-02-25 08:53] Basilakis commented on #76
@contempoinc Thank you very very much for sharing!

[2017-02-27 14:47] Basilakis commented on #76
@contempoinc I am trying to unzip what you added and checks as Empty File or Unknown extension.
Coulg you take a look t check pretty please?
I would really appreciate

[2017-02-28 22:29] mtaddia opened #78 "Theme Check Errors"
hi,

i am getting the following errors from theme check can someone please let me know how to fix this or if it's not fixable what do i tell ThemeForest reviewers when they see these errors?

WARNING: fopen was found in the file admin/redux-extensions/extensions/wbc_importer/inc/importer/parsers.php File operations should use the WP_Filesystem methods instead of direct PHP filesystem calls.

Line

[2017-03-01 21:59] contempoinc commented on #76
@Basilakis I just double checked the zip and the contents are all good https://dl.dropboxusercontent.com/u/51786372/ct-extensions-loader.zip just save as and upload via your WordPress admin.

[2017-03-01 22:00] contempoinc commented on #76
@Webcreations907 You around anymore, possibly abandoned the project or just to busy?

[2017-03-01 22:37] contempoinc commented on #76
@Webcreations907 Another option I just came across is to just import the original images and not all the resized bullshit that would decrease it immensely, this importer plugin has a filter for it https://wordpress.org/plugins/one-click-demo-import/

`add_filter( 'pt-ocdi/regenerate_thumbnails_in_content_import', '__return_false' );`

[2017-03-01 23:06] Webcreations907 commented on #78
Hello,

It's best to place the extension into a plugin so that you don't have to worry about the theme check errors.

[2017-03-01 23:48] Webcreations907 commented on #76
@contempoinc

Yeah still here 😄 Just been really busy.

I don't think the importer actually imports the different sizes of image, I think they are generated when importing the original size. So if you disable it, then you'd have to have your users regenerate the thumbnails using the regenerate plugin, or make up code to regenerate them after import is done assuming your theme would use/need the di

[2017-03-02 06:30] Basilakis commented on #76
@contempoinc Chris I am really really sorry for been anoying, but
\ct-extensions-loader.zip: The archive is either in unknown format or damaged

here is what returns when unzipping it

And here, when trying to upload through WordPress Plugins, just if the case was the windows unziping
The package could not be installed. PCLZIP_ERR_BAD_FORMAT (-10) : Unable to find End of Central Dir Record signatu

[2017-03-04 07:05] mtaddia commented on #78
ok i tried moving it to my own plugin folder inside a folder called "extensions" but that doesnt seem to work.

Where should i place the files for this plugin- if i put it inside the "extensions" folder in the redux plugin like the instructions wont it get deleted if they update the plugin?

I would like to place it in its own plugin how do i do this and make sure it gets loaded by redux? Do i sim

[2017-03-04 07:59] mtaddia commented on #78
so now the plugin doesnt work at all for some reason. I export the Wordpress xml file rename it and upload it as usual its larger than before but still should work. It just spins never imports the content. Other demos added with really tiny content.xml files seem to work but not the real demo files that i exported out of my current install of my theme. Do you know what could be causing this? Ive b

[2017-03-04 08:05] mtaddia commented on #78
yah it imported the menu and the theme settings but it wont import the sliders or the pages, posts, media, etc.

[2017-03-04 08:12] mtaddia commented on #78
this is in my functions file

/**
 * Demo Import Functions
 */

if ( !function_exists( 'wbc_filter_title' ) ) {
	/**
	 * Filter for changing demo title in options panel so it's not folder name.
	 *
	 * @param [string] $title name of demo data folder
	 *
	 * @return [string] return title for demo name.
	 */
	function wbc_filter_title( $title ) {
		return trim( ucfirst( str_replace( "-", " ", $title

[2017-03-04 19:31] mtaddia commented on #78
could you please help me? I cant get the plugin to work now it just spins and doesnt import the content.xml or the sliders or the menus but it imports the widgets and theme options files.

I have spent hours and hours on this theme and would really really appreciate it if you could help me solve this problem with the plugin to get it working

[2017-03-04 21:35] mtaddia commented on #78
i have my phprc file as follows
upload_max_filesize = 300M
post_max_size = 505M
max_execution_time = 5000
max_input_time = 5000
max_input_vars = 100000
memory_limit = 128M

so i dont think it has to do with server load- as mentioned i had the pluginoriginally installed in the redux admin folder in my theme and was able to import multiple sliders and a 1.6mb content.xml file - now i can only import

[2017-03-04 21:55] mtaddia commented on #78
ok i redownloaded the plugin files and it works now- can u confirm for me though one thing-

should i add it in a sep plugin folder called wbc-importer and add this to the php file for the plugin?
    // All extensions placed within the extensions directory will be auto-loaded for your Redux instance.
    Redux::setExtensions( 'redux_builder_daylight', dirname( __FILE__ ) . '/extensions/' );

is t

[2017-03-05 16:10] Basilakis commented on #76
@contempoinc can you please check it and maybe make a .rar file, as the other one is not gettting dled at all, I would really really appreciate it?

Thank you very much

[2017-03-08 08:12] Basilakis commented on #76
@contempoinc do u mind if I poke you again? :)

[2017-03-08 09:18] Webcreations907 commented on #76
I can get a repo up in the morning, if that would be of use. I know few others are wanting a plugin example as well.

[2017-03-08 09:21] Basilakis commented on #76
@Webcreations907 Yes, that would be amazing, if possible.
Actually there are many who do, because trying to make the theme size way smaller from what it is now. :-)

[2017-03-08 23:48] Webcreations907 commented on #76
@Basilakis  download the below as a zip and install as a plugin. You'll need to edit `wbc907-plugin-example.php` to add your redux option name.

https://github.com/Webcreations907/WBC907-Plugin-Example/

You'd place any Redux extensions in the extensions folder, I've already put the importer extension in there.

[2017-03-09 11:08] Basilakis commented on #76
@Webcreations907 Thank you very much!

[2017-04-22 11:21] tishasub opened #79 "Can't set homepage & menu using example functions"
Hi there,
I'm using wbc importer to import the data which is really cool. But I can't set the homepage & navigation using the example functions that you've provided. I've used the following code in my redux config file and also after it didn't work I moved the code to functions.php of theme file. In anyway the menu & fontpage is not setting. Would like to know how I can set them & where to put the

[2017-04-23 05:44] ashawkat commented on #78
@mtaddia how did you managed to import the menu & homepage settings. As I'm also getting issues like this one. Importing content but the menu & settings are not ok. Can you please let me know what you've done so that I can do that also.

[2017-04-23 05:45] ashawkat commented on #79
@Webcreations907 I'm also having such issues. But no one here is to help. Can you help out how this can be done. The example functions are not working or I'm doing something wrong? My thing is exactly like this issue

[2017-04-23 05:48] ashawkat commented on #59
@zafarullahjoiya @Webcreations907 I would like to know where did you put the example function code in your theme or plugin. I'm trying to add this within my redux config file where the theme options are set which doesn't seems to work. After that I tried to put the code in functions.php which also is not working. I'm really in need to work this done. Can you help me?

[2017-04-23 08:17] zafarullahjoiya commented on #59
@ashawkat you can put your code functions.php under  this 'wbc_importer_after_content_import' hook.

$demo_sliders_array = array(
        'roofer'  => 'rs-roofer.zip',
        'fitness' => 'rs-fitness.zip',
      );

      if ( isset( $demo_active_import[$current_key]['directory'] ) && !empty( $demo_active_import[$current_key]['directory'] ) && array_key_exists( $demo_active_import[$current_key]['

[2017-04-23 08:21] ashawkat commented on #59
@zafarullahjoiya I've tried to use the below code at my functions.php file. But it's not working for me. I've changed the function name though but it should work. Please take a look at the gist.
https://gist.github.com/tishasub/0fe1dd18b70899432450a01e6691e11d
If there's something I'm missing or doing wrong?

[2017-06-03 08:11] MrShabir commented on #79
Hello Place this function in Loader.php.
Then come to init-installer.php file.
File Path : wbc_importer\inc\init-installer.php
Line Number : 128
Comment this code line.
//do_action( 'wbc_importer_before_widget_import', $this->active_import, $this->demo_files_path );
Now Setup Menu.

                 $primary = get_term_by('name', 'Main Menu', 'nav_menu');
		$footer = get_term_by('name', 'Footer Me

[2017-06-21 00:55] contempoinc commented on #76
@Webcreations907 How hard would it be to replace the old WordPress Importer used with the new v2 plugin that allows for processing in pieces and eliminates the timeout issues.

https://github.com/humanmade/WordPress-Importer

[2017-07-17 16:49] Alexander-Shukaev opened #80 "Broken Path Handling"
The following code in constructor of `ReduxFramework_extension_wbc_importer`:

[code]

and in constructor of `ReduxFramework_wbc_importer`:

            if ( !empty( $class->demo_data_dir ) ) {
                $this->demo_data_dir = $class->demo_data_dir;
                $this->demo_data_url = site_url( str_replace( trailingslashit( str_replace( '\\', '/', ABSPATH ) ), '', $this->demo_data_dir ) )

[2017-07-18 07:14] hozyali opened #81 "menu is not setting up after import"
Hi,

So far, the great plugin for one-click import. Thanks for the hard work.

revslider and homepage are correctly being set after import, however menu is not setting. I have two menus to be set after import.

1- Header Menu (its a menu name in appearance > menus)
2- Accounts (its a menu name in appearance > menus)

the menu locations are registered in my theme
[code]

Here is my code.
[code]
The

[2017-08-08 23:58] mtaddia opened #82 "Saving Redux Theme Options on import to write to a css file"
hi

i am trying to get the demo importer to save the theme options it has imported- i am using the Redux Compiler to write to an external css file so once the demo imports the theme settings i need a function to make it save the settings in redux to the css file gets updated?

[2017-08-10 02:02] mtaddia opened #83 "Demo Import Stalling"
Hi,
sorry to bug you but i've spent hours and hours trying to make this work- all seems fine with the plugin until i add the code you posted to add more than one slider per demo (an array)

here is my code below, on the events-management demo i have 5 sliders you'll notice and that demo doesnt import at all it just sits there spinning. Alot of the other demos are stalling as well. I sesne there mu

[2017-08-10 03:16] mtaddia commented on #83
If you could please help me, i am out of ideas this is 2 whole days now i cant get the importer to stop stalling. It's totally random i dont know what to do spent months on my theme now i can complete this until i can figure this out. I can give you my admin login i just need to have it work.

[2017-08-10 03:33] mtaddia commented on #83
And so more testing - all the demos with one slider in the array work- the ones with more than one slider they stall most of the time- something is making it stall when i add more than one slider and the files are small so something is wrong with the code above.

[2017-08-14 22:07] mtaddia commented on #83
can you please help me.

[2017-08-16 20:51] mtaddia commented on #36
hi,
i am using the importer and it imports the demo however, once it finishes and saves the settings - it says "saved" in green however the file is saved but it doesnt write to the external css file i am using with the compiler. If you change something AFTER the demo import like a text size, then click save THEN it writes to the css file and everything is fine after that. I tried refreshing and th

[2017-11-08 17:08] relstudiosnx commented on #62
@contempoinc can you please share me how you embed as plugin ?

[2017-11-17 08:09] andrejarh opened #85 "Fatal error with latest Redux"
Hi,
I updated to the latest version of Redux and wbc_importer is returning a fatal error:

Fatal error: Uncaught Error: Call to a member function dirlist() on null in .../redux-extensions/extensions/wbc_importer/extension_wbc_importer.php:107 Stack trace: #0 .../redux-extensions/extensions/wbc_importer/extension_wbc_importer.php(149): ReduxFramework_extension_wbc_importer->demoFiles() #1 .../redux

[2017-11-19 05:31] Ryu-k commented on #85
Hi, I have the same problem here.

Regards

[2017-11-20 21:35] kprovance commented on #85
You no longer supporting this @Webcreations907 ?

[2017-11-21 07:19] kprovance commented on #85
Just FYI - in case any else lurks - There was a problem with the Redux filesystem that did not turn up until now.  It's fixed on our side.  Any bugs or issues pertaining to this code, please keep here.  Thanks!

And @Webcreations907, seriously bro, have you abandoned this project?

[2017-11-21 07:19] kprovance commented on #85
@andrejarh, you can close this ticket, since you opened.  :)

[2017-11-21 07:36] Webcreations907 commented on #85
Thanks @kprovance , I've been a bit behind with other projects, I looked into this a bit the other day and noticed the parent issue but didn't get a chance to post back here.

Thanks for the fix, it seemed to resolve the issue.

😄

[2017-11-21 07:55] andrejarh commented on #85
Thank you @kprovance for taking time to look into it.
Closing the issue.

[2017-11-21 07:55] #85 closed, assigned to nobody

[2018-01-03 02:59] mtaddia opened #86 "Button Alignment"
hi,

i reuploaded all the files in wbc_importer but there is now blue import demo button pushed to the right edge of the box for the preview thumbs inside the Redux Admin Panel

i think it has something to do with this can u please tell me how i fix this
![screen shot 2018-01-02 at 7 59 12 pm](https://user-images.githubusercontent.com/23509405/34507863-6c8121ac-eff7-11e7-8a02-005fa2056ed9.png)

.t

[2018-01-24 10:57] baljka17 commented on #65
@NabilLahssine Hi there,

Could you share me your solution/updates with me for external server resources importing?

Thanks

[2018-01-24 11:03] baljka17 commented on #76
Hi guys,

Is there any solution for external server (xml,theme options,widgets) resources importing?

Currently extension requires xml files to import within the folder. But I have 30 demo and bunch of revolution slider zips and those increase my plugin size 70mb+ and hard to install on client site. Then I decided to save those static resources on ftp server and access them via importer when custo

[2018-01-26 15:39] nrkhatana commented on #81
I have the same problem, do anyone have any solution for this?

[2018-01-26 16:15] nrkhatana commented on #81
Problem is arising in php 7.x
working fine on 5.x

[2018-02-01 12:55] rampatel5778 opened #87 "How to Import Customizer data using WBC-Importer-extension rediux"
HI,

I am preparing import demo data for my theme.

Everything is working fine "theme 0ption", "content" and "widget" importing successfully but I don't know how to import the "Customizer data" in theme using "Import Data"
.
Thank you.

[2018-03-09 06:55] andrewexton373 commented on #80
I'm running into the same issue with the houzez theme and a roots/bedrock deploy.. any insight?

[2018-03-14 04:56] jpmelnik commented on #80
Same here!

I'm imported the demos with the following temporal fix:

**field_wbc_importer.php**

[code]

[2018-03-21 17:04] reviewoct opened #88 "the Importer-extension is not working"

[2018-05-24 05:04] paudelvinay commented on #78
@ashawkat did you get chance to solve the issue? If so, please share.
@mtaddia please share thw ay you have solved the issue.

[2018-07-10 10:43] Ryu-k opened #90 "WordPress 4.9.7 Menu import"
Menu import is not working correctly.
It import the menu, also set it as the correct position ( main menu for example ) but the menus are empty.
It was working fine before the latest WordPress update.
The same xml import works fine if imported with the default WordPress importer.

[2018-07-10 10:49] Ryu-k commented on #90
Never mind, was a php7 error
fixed using this https://wordpress.org/support/topic/menu-not-imported-in-php-version-708/

[2018-11-05 10:40] vikasjainwmd opened #91 "Custom Taxonomy Images not comes after import"
Hello,

Please check the screenshot of "**Custom Taxonomy**" back end where images not comes here:
http://prntscr.com/lejwwg
http://prntscr.com/lejxh7

Please check the screenshot of front end here:
http://prntscr.com/lejxpt
http://prntscr.com/lejxy6

And when I am trying to import data by using Tools->Import->WordPress
Then all my custom Taxonomy Images comes perfect on back end and front end bot

[2019-01-31 16:54] xy440 commented on #65
Still need this but no luck yet?

[2019-02-12 05:38] xy440 commented on #65
Could you please share your solution.

[2019-02-12 06:03] xy440 commented on #76
Did you get any solution yet? I have same issue :(

[2020-12-07 09:30] andrejarh opened #92 "Redux 4 compatibility"
Hi,
I am having issues with the extension using Redux framework 4. Everything was working fine with Redux 3. Now with Redux 4 I get  the following error:

Fatal error: Uncaught Error: Class 'ReduxFramework_Extension_wbc_importer_extended' not found in /var/www/wp-content/plugins/recycle-plugin/admin/redux-framework/inc/classes/class-redux-functions-ex.php:325 Stack trace: #0 /var/www/wp-content/pl